{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Account</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>
    <form method="post" name="UserUpdate">
    {% csrf_token %}
        <div class="hero is-fullheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box">
                    <div class="column" text-align="center">
                        <h2 style="text-align:center">Do you want to update your info?</h2>
                    </div>
                    <div class="column">
                        <label for="email">Username</label>
                        <input class="input is-primary" name="Username" type="text" placeholder="Username">
                    </div>
                    <div class="column">
                        <label for="email">Email</label>
                        <input class="input is-primary" type="email" placeholder="Email address">
                    </div>
                    <div class="column">
                        <label for="email">First Name</label>
                        <input class="input is-primary" type="text" placeholder="Name">
                    </div>
                    <div class="column">
                        <label for="Name">Last Name</label>
                        <input class="input is-primary" type="text" placeholder="Surname">
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth" type="submit">Update Credentials</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </body>
</html>

{% endblock %}