{% extends 'base.html' %}

{% block content %}


        <section class="section">
            <div class="columns">
                <div class="column is-1.5">
                    <aside class="menu">
                        <p class="menu-label">CATEGORIES</p>

                        <ul class="menu-list">
                            {% for cat in categories %}
                                <li>
                                    <a href="{% url 'categories' %}?catid={{ cat.id }}">{{ cat.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                 <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">Documents</p>

                        <ul class="menu-list">
                            {% for doc in documents %}
                                <li>
                                    <a href="{% url 'index' %}?docid={{ doc.id }}">{{ doc.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>

                <div class="column is-6">
                    <form method="post" action="{% url 'categories' %}">
                        {% csrf_token %}

                        <input type="hidden" name="catid" value="{{ catid }}">

                        <div class="field">
                            <label class="label">
                                Title
                            </label>

                            <div class="control">
                                <input type="text" class="input" name="name" placeholder="Enter your category name here "{% if category %} value="{{ category.name }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Save</button>
                            </div>
                            {% if category %}
                                <div class="control">
                                    <a href="{% url 'delete_category' category.id %}" class="button is-danger">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="column is-3">
                    <form method="post" action="{% url 'index' %}">
                        {% csrf_token %}

                        <input type="hidden" name="docid" value="{{ docid }}">

                        <div class="field">

                            <label class="label">
                                INFO
                                <br>

                                {% if document %}
                                    <span class="has-text-grey-light">
                                        Created by: {{ document.created_at|date:"m/d Y" }} /
                                        <br>
                                        Created at: {{ document.created_at|date:"m/d Y" }} /
                                        <br>
                                        Modified at: {{ document.modified_at|date:"m/d Y" }}
                                    </span>
                                {% endif %}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </section>

{% endblock %}