{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p style="text-align:center">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p style="text-align:center">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up For M11</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>


<div class="hero is-fullheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box">
                    <div class="column">
                        <h2 style="text-align:center">Welcome To M11 Notes App <br>
                            Please Login here:
                        </h2>
                    </div>
                    <div class="column">
                        <label for="username">Username</label>
                        <input class="input is-primary" name="username" type="text" placeholder="Username" >
                    </div>
                    <div class="column">
                        <label for="password">Password</label>
                        <input class="input is-primary" name="password1" type="password" placeholder="Password">
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth" type="submit" value="login">Login</button>
                    </div>

                    <div class="has-text-centered">
                        <p class="is-size-7"> Do not have an account? <a href="{% url 'sign_up' %}" class="has-text-primary">Sign Up</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
      </form>


</form>

{% endblock %}