{% extends "base.html" %}

{% block content %}
<body>
        <div class="hero is-fullheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box">
                    <div class="column">
                        <h2 style="text-align:center">Thank you for using our NoteApp</h2>
                        <h2 style="text-align:center">Hope to see you soon :) </h2>
                    </div>

                </div>
            </div>
        </div>
    </body>
{% endblock %}